# UDEV rules for razer devices
#
# We just send a rescan command to razerd.
# It will pick up new devices and forward information to the applications.

ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1532", RUN+="$$INSTDIR$$/bin/razercfg --bg-rescan"
ACTION=="remove", SUBSYSTEM=="usb", RUN+="$$INSTDIR$$/bin/razercfg --bg-rescan"
