# UDEV rules for razer mice

# Configure the Razer DeathAdder mouse
ACTION=="add", SUBSYSTEM=="usb_device", SYSFS{idVendor}=="1532", SYSFS{idProduct}=="0007", RUN+="/usr/local/bin/razercfg -c."

# Configure the Razer Krait mouse
ACTION=="add", SUBSYSTEM=="usb_device", SYSFS{idVendor}=="1532", SYSFS{idProduct}=="0003", RUN+="/usr/local/bin/razercfg -c."
