# UDEV rules for razer devices
#
# We just send a rescan command to razerd.
# It will pick up new devices and forward information to the applications.

ACTION=="add", SUBSYSTEM=="usb_device", SYSFS{idVendor}=="1532", RUN+="$$INSTDIR$$/bin/razercfg --scan"
ACTION=="remove", SUBSYSTEM=="usb_device", RUN+="$$INSTDIR$$/bin/razercfg --scan"

