#!/bin/sh

razer_suspend()
{
	true # Do nothing
}

razer_resume()
{
	@CMAKE_INSTALL_PREFIX@/bin/razercfg -B -K
}

case $1 in
	hibernate|suspend)
		razer_suspend
		;;
	resume|thaw)
		razer_resume
		;;
esac
