# UDEV rules for razer devices
#
# We just send a rescan command to razerd.
# It will pick up new devices and forward information to the applications.

ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1532", RUN+="@CMAKE_INSTALL_PREFIX@/bin/razercfg -B -S1 -s"
ACTION=="remove", SUBSYSTEM=="usb", RUN+="@CMAKE_INSTALL_PREFIX@/bin/razercfg -B -S1 -s"
