Source: razercfg
Maintainer: Michael Büsch <m@bues.ch>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9),
 cmake,
 dh-systemd,
 libusb-1.0-0-dev,
 pkg-config,
 python3-dev,
 dh-python

Package: razercfg
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Suggests: python3-pyside
Description: Razer device configuration tool
 This is a system daemon and Python-powered CLI configuration utility for Razer
 devices on Linux systems.

Package: qrazercfg
Architecture: any
Depends: ${misc:Depends}, python3-pyside, razercfg
Description: Graphical Razer device configuration tool
 Python- and QT-powered configuration utility for the configuration of Razer
 devices on Linux systems.

Package: qrazercfg-applet
Architecture: any
Depends: ${misc:Depends}, python3-pyside, razercfg, qrazercfg
Description: Graphical Razer device configuration tool - applet
 Python- and QT-powered configuration utility for the configuration of Razer
 devices on Linux systems.
