#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export DH_VERBOSE=1
export RAZERCFG_PKG_BUILD=1
export CFLAGS= CPPFLAGS= CXXFLAGS= LDFLAGS=

override_dh_auto_configure:
	cmake -DCMAKE_INSTALL_PREFIX=/usr .

override_dh_install:
	dh_install --fail-missing

override_dh_installinit:
	dh_installinit --name=razerd

%:
	dh $@ --with systemd --with python3
